/* Load data panel */ 

#load-data {
  padding: .6rem 0;
}

#load-data button {
  min-width: 8rem;
}

#load-data span {
  min-width: 8rem;
}

/* Export data panel */ 

#export-data {
  padding: .6rem 0;
}

#export-data button {
  min-width: 8rem;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

.btn-dataset {
  min-width: 10rem;
  margin: .4rem .2rem;
}

/* Feature selection panel */
#feature-selection {
  padding: 1rem;
}

#feature-container button {
  font-size: .7rem;
  border-radius: .7rem;
  padding: .1rem 1rem .1rem 1rem;
  margin: 0 .2rem 0 .2rem;
}

#feature-container button .custom-control-input  {
  margin: .1rem 0 0 0;
  z-index: 0;
  opacity: 1;
  cursor: pointer;
}

#feature-container button span  {
  margin-left: 1rem;
}


#feature-container button i  {
  padding-left: 5px;
}

#color-selection {
  min-width: 7rem;
}

/* Embedding panel */

#hparams-tuning {
  padding: 11px 0 11px 0;
}

#embedding {
  border: 1px solid gray;
  margin: 5px 0px 5px 0px;
  padding: 8px;
  border-radius: 3px;
}

.brushed {
    opacity: 1.0;
}

.non_brushed {
    opacity: 0.1;
}

/* Tooltip */

div.tooltip { 
  position: absolute;     
  min-width: 200px;          
  min-height: 200px;
  background: white; 
  border: 1px solid gray;    
  border-radius: 3px;
  padding: 5px 15px;
}

/* Table Details */

.table td, .table th {
  padding: .4rem;
}