body {
  padding: 10px;
}

div.dimred-min {
  border: 1px solid;
  border-color: gray;
  width: 100%;
}

div.dimred-min.selected {
  border: 3px solid;
  border-color: cornflowerblue;
}

label.dimred-min {
  padding: -3px;
  font-size: 0.8em;
}

div.dimred-max {
  border: 1px solid;
  border-color: gray;
  width: 100%;
}

.u text {
  display:none;

}

.u:hover text {
  display:block;
}

.u {
  fill-opacity: 0.3;
}

.u-selected {
  fill-opacity: 1;
  stroke: red;
  stroke-width: 2px;
}