.hide {
  display: none;
}

/* Load data panel */ 

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;   
  cursor: inherit;
  display: block;
}

#load-data {
  width: 300px;
  border: 1px solid gray;
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
}

/* Feature selection panel */
#feature-selection {
  width: 300px;
  border: 1px solid gray;
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
}

#feature-selection .feature-group {
  border: 1px solid gray;
  margin: 5px 0px 10px 0px;
  padding: 8px;
  border-radius: 3px;
}

#feature-selection .feature-group .header {
  font-size: 9px;
  background: white;
  margin-top: -15px;
  float: left;
  padding: 0 5px 0 5px;
}

#feature-selection .feature-group .header input  {
  z-index: 0;
  opacity: 1;
  cursor: pointer;
}

#feature-selection .feature-group .header i {
  padding-left: 15px;
  color: red;
  cursor: pointer;
}

#feature-selection .feature-group .header span {
  padding-left: 5px;
}

#feature-selection .feature-group button {
  font-size: 12px;
  border-radius: 15px;
  padding: 0px 10px 2px 10px;
  margin: 0px 3px 0px 3px;
}

#feature-selection .feature-group button span  {
  padding-left: 15px;
}

#feature-selection .feature-group button .custom-control-input  {
  margin: 4px 0px 0px 0px;
  z-index: 0;
  opacity: 1;
  cursor: pointer;
}

#feature-selection .feature-group button i  {
  padding-left: 5px;
}

div.feature-glyph { 
  position: absolute;     
  text-align: center;     
  width: 150px; 
  height: 150px;       
  padding: 3px;       
  font: 12px;    
  background: white; 
  border: 1px solid gray;    
  border-radius: 3px;     
  pointer-events: none;     
}

#encode-color {
  width: 300px;
  border: 1px solid gray;
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
}

/* Navio panel */

#navio {
  float: left;
}

/* Projection panel */

#projection {
  float: left;
  border: 1px solid gray;
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
}